---
layout: default
---
{% capture readtime %}{{ page.content | number_of_words | divided_by:200 | plus:1 }}{% endcapture %}

<h1 class="post-title">{{ page.title }}</h1>
<p class="post-meta">{{ page.date | date_to_string }} &bull; {% if readtime == '1' %} &lt;{% endif %}{{ readtime }} min. read</p>

{% if page.image %}
	<div class="post-banner" style="background-image: url(/img/post-banners/{{ page.image }});">
		<img src="/img/post-banners/{{ page.image }}" alt="{{ page.title }}" />
	</div>
{% else %}
	<div class="post-banner no-image">
		<img src="/img/post-banners/no-image.gif" alt="{{ page.title }}" />
	</div>
{% endif %}

{{ content }}

